<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_wba"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_wba"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIWIBA"
        tools:targetApi="31">
        <activity
            android:name=".wba.activity.ManagePinjamanActivity"
            android:exported="false" />
        <activity
            android:name=".wba.activity.ManageBpjsActivity"
            android:exported="false" />
        <activity
            android:name=".wba.activity.ManagePajakActivity"
            android:exported="false" />
        <activity
            android:name=".wba.activity.BpjsActivity"
            android:exported="false" />
        <activity
            android:name=".wba.activity.GajiActivity"
            android:exported="false" />
        <activity
            android:name=".wba.activity.KasActivity"
            android:exported="false" />
        <activity
            android:name=".wba.activity.LogistikActivity"
            android:exported="false" />
        <activity
            android:name=".wba.activity.ManageGajiActivity"
            android:exported="false" />
        <activity
            android:name=".wba.activity.PajakActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".wba.activity.PajakActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".wba.activity.PinjamanActivity"
            android:exported="false" />
        <activity
            android:name=".wba.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".wba.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".wba.SignInActivity" -->
        <!-- android:exported="false"/> -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>